################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Pokemon Clone/.vs/Pokemon Clone/v17/Current/Browse.VC.opendb
/Pokemon Clone/.vs/Pokemon Clone/v17/Current/Browse.VC.db
/Pokemon Clone/.vs/Pokemon Clone/v17/Current/Browse.VC.db-shm
/Pokemon Clone/.vs/Pokemon Clone/v17/Current/Browse.VC.db-wal
/Pokemon Clone/.vs/Pokemon Clone/v17/Browse.VC.opendb